<h1>welcome to your dashboard,
    {{userObj.username}}</h1>

<!-- <md-content>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="search in userObj.searches track by $index">
            <div class="md-list-item-text">
                <h3>Name:
                    {{search.title}}</h3>
                <h4>Results:
                    {{search.results.length}}</h4>
            </div>
            <md-button class="md-secondary md-raised md-warn" ng-click="deleteSearch(search._id)">Delete</md-button>
            <md-button class="md-secondary md-raised md-primary" ng-click="viewSearch(search._id)">View</md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content> -->


  <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile ng-class="'color' + $index % 6" ng-repeat="search in userObj.searches track by $index">
      <md-grid-tile-header>
        <h3>{{search.title}}</h3>
        <div class="searchIcons">
          <md-icon>open_in_new</md-icon>
          <md-icon>delete</md-icon>
        </div>
      </md-grid-tile-header>
      <md-button class="md-secondary md-raised md-primary" ng-click="viewSearch(search._id)">View</md-button>
    </md-grid-tile>


  </md-grid-list>
