<h1>welcome to your dashboard</h1>
<h2>here's your info:</h2>
<h3>your username: {{userObj.username}}</h3>
<h3>and your hashed_pw: {{userObj.password}}</h3>


<md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="search in userObj.searches track by $index">
        <div class="md-list-item-text">
          <h3>Name: {{search.title}}</h3>
          <h4>Results: {{search.results.length}}</h4>
        </div>
        <md-button class="md-secondary md-raised md-warn" ng-click="deleteSearch(search.id)">Delete</md-button>
        <md-button class="md-secondary md-raised md-primary" ng-click="viewSearch(search.id)">View</md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
