<div class="form-style-5">
  <form ng-submit="submit()">
      <legend><span class="number">1</span>What's your scan's name?</legend>
      <input type="text" ng-model="scantitle" placeholder="Name your scan here">
      <!-- <label>How far back should your scan search?</label> -->
      <!-- <md-content>
        <md-datepicker ng-model="scandate" md-placeholder="Enter date"></md-datepicker>
      </md-content> -->

      <legend><span class="number">2</span>What are you trying to find?</legend>
      <input type="text" ng-model="query" placeholder="Type query here">

      <!-- <legend><span class="number">3</span>Where do you want to scan?</legend>
      <md-radio-group ng-model="scanlocation">
        <md-radio-button value="nationwide" class="md-primary">Nationwide</md-radio-button>
        <md-radio-button value="statewide"> By State </md-radio-button>
      </md-radio-group>


      <legend><span class="number">4</span>Want to narrow it down?</legend>
      <md-radio-group ng-model="scancategory">
        <md-radio-button value="all" class="md-primary">Search all categories</md-radio-button>
        <md-radio-button value="housing" class="md-primary">Housing</md-radio-button>
        <md-radio-button value="forsale"> For Sale </md-radio-button>
      </md-radio-group> -->

      <legend><span class="number">3</span>All done?</legend>
      <input type="submit" value="Submit search" />
  </form>
</div>
